html {
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eee;
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 4px;
  flex: 1 1 auto;
}

.user-area, .computer-area, .user-name, .computer-name {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: inherit;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
}

.user-board, .computer-board, .start-board {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background: white;
  margin: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.cell {
  display: flex;
  flex: 1 1 auto;
  height: 32px;
  width: 32px;
  margin: 2px;
  background-color: blue;
}

.ship {
  display: inline;
  height: 32px;
  width: 32px;
  margin: 2px;
  background-color: rgb(240, 221, 116);
  box-shadow: 2px 3px 5px #999;
}

.hit {
  display: inline;
  display: flex;
  height: 32px;
  width: 32px;
  margin: 2px;
  background-color: red;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -5px inset,
  rgba(0, 0, 0, 0.3) 0px 5px 5px -5px inset;
}

.missed {
  display: inline;
  display: flex;
  height: 32px;
  width: 32px;
  margin: 2px;
  background-color: #4CAF50;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -5px inset,
  rgba(0, 0, 0, 0.3) 0px 5px 5px -5px inset;
}

.clickable {
  cursor: crosshair;
}

.clickable:hover {
  background-color: #fff;
}

.placable {
  cursor: pointer;
}

.target-zone {
  background-color: #fff;
  box-shadow: 5px 5px 5px #999;
}

.nonplacable {
  cursor: no-drop;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 50vw;
}

.battle-log {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: left;
  margin: auto;
  width: 600px;
  height: 200px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  border-radius: 4px;
  border: none;
}

li {
  font-family: inherit;
  font-size: 18px;
}

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  pointer-events: none;
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 600px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.modal-container.visible {
  opacity: 1;
  pointer-events: auto;
}

button {
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #333;
  margin: auto;
  font-family: inherit;
  font-size: 90%;
  padding: 6px 15px;
  font-size: 16px;
}
