html {
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

header {
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-area .computer-area {
  display: flex;
  flex-direction: column;
}

.user-board .computer-board {
  display: block;
  background: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: inline;
  height: 30px;
  width: 30px;
  margin: 2px;
  background-color: blue;
}

.hit {
  display: inline;
  display: flex;
  height: 30px;
  width: 30px;
  margin: 2px;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.missed {
  display: inline;
  display: flex;
  height: 30px;
  width: 30px;
  margin: 2px;
  background-color: greenyellow;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: crosshair;
}

.battle-log {
  margin: auto;
  width: 500px;
  height: 500px;
}