html {
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #eee;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.user-area, .computer-area, .user-name, .computer-name {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  justify-content: center;
  font-size: large;
  font-weight: bolder;
}

.user-board, .computer-board, .start-board {
  display: block;
  background: white;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  display: inline;
  height: 35px;
  width: 35px;
  margin: 2px;
  background-color: blue;
}

.ship {
  display: inline;
  height: 35px;
  width: 35px;
  margin: 2px;
  background-color: gray;
}

.hit {
  display: inline;
  display: flex;
  height: 35px;
  width: 35px;
  margin: 2px;
  background-color: red;
  align-items: center;
  justify-content: center;
}

.missed {
  display: inline;
  display: flex;
  height: 35px;
  width: 35px;
  margin: 2px;
  background-color: greenyellow;
  align-items: center;
  justify-content: center;
}

.clickable {
  cursor: crosshair;
}

.placable {
  cursor: pointer;
}

.placable:hover {
  background-color: #fff;
}

.nonplacable {
  cursor: no-drop;
}

.battle-log {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 40vw;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: scroll;
}

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  pointer-events: none;
  opacity: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 800px;
  max-width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.modal-container.visible {
  opacity: 1;
  pointer-events: auto;
}